* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.calculator {
    background: #393e46;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #6b778d;
    font-size: 20px;
    color: #ececec;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.calculator form input:hover {
    background-color: #485260;
    color: #ffffff;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    align-items: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    background: #6b778d;
    color: #ececec;
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 5px;
}

form input.equal {
    width: 145px;
    background: #48a7d4;
}

form input.operator {
    background: #d9534f;
}
